<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simon.android.pandahome2"
    android:versionCode="1000"
    android:versionName="1.0"
    android:debuggable="false"
	android:installLocation="internalOnly"
	android:sharedUserId="com.simon.android.pandahome2.uid"
	 >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!--往sdcard中写入数据的权限 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<!--在sdcard中创建/删除文件的权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	
	<!-- IMEI号等 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"/>

    <application android:name="com.nd.hilauncherdev.launcher.LauncherApplication"
        android:icon="@drawable/ic_launcher"
        android:label="EL" >
        
        <activity android:name="com.nd.hilauncherdev.launcher.Launcher"
		    android:label="@string/app_name"
			android:launchMode="singleTask" android:clearTaskOnLaunch="true"
			android:stateNotNeeded="true" android:theme="@style/Fullscreen"
			android:configChanges="locale|keyboardHidden|orientation" 
			android:screenOrientation="portrait" android:windowSoftInputMode="stateUnspecified|adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.HOME" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.MONKEY" />
				<category android:name="android.intent.category.THIRD_PKG_CHECK" />
			</intent-filter>
		</activity>
        
        <!-- The settings provider contains Home's data, like the workspace favorites -->
		<provider android:name="com.nd.hilauncherdev.launcher.LauncherProvider"
			android:authorities="com.simon.android.launcher2.settings" />
		
		
		<service android:name="com.baidu.dx.personalize.theme.LocalThemeService" />
        
        <!-- 应用下载，下载管理 -->
        <service
            android:name="com.nd.hilauncherdev.webconnect.downloadmanage.model.DownloadServerService"
            android:exported="false" />
        <service
            android:name="com.nd.hilauncherdev.webconnect.downloadmanage.model.PluginDownloadForwardService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.mobo.launcher.FORWARD_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!-- 应用下载，下载管理   End -->
		
		<!-- Intent received used to install shortcuts from other applications -->
		<receiver android:name="com.nd.hilauncherdev.launcher.broadcast.InstallShortcutReceiver"
			android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
			<intent-filter>
				<action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
				<action android:name="com.nd.pandahome.install_shortcut" />
			</intent-filter>
		</receiver>

		<!-- Intent received used to uninstall shortcuts from other applications -->
		<receiver android:name="com.nd.hilauncherdev.launcher.broadcast.UninstallShortcutReceiver"
			android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT">
			<intent-filter>
				<action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
			</intent-filter>
		</receiver>
		
		<receiver android:name="com.nd.hilauncherdev.launcher.ApplicationChangeReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<action android:name="android.intent.action.PACKAGE_CHANGED" />
				<data android:scheme="package" />
			</intent-filter>
		</receiver>
		
		<activity
            android:name="com.nd.hilauncherdev.menu.personal.AllDownloadManagerActivity"
            android:screenOrientation="portrait" android:launchMode="singleInstance" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:process=":hilauncherex_shopv2_process">
            <intent-filter>
                <action android:name="com.mobo.launcher.downloadmanager.SHOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
          </activity>
          
		<!-- 应用列表 -->
		<activity
			android:name="com.nd.hilauncherdev.launcher.appslist.AppslistActivity"
			android:screenOrientation="portrait" android:theme="@style/Transparent" />
		
		<!-- 程序打开选择框 -->
		<activity
			android:name="com.nd.hilauncherdev.app.AppResolverSelectActivity"
			android:screenOrientation="portrait" android:theme="@style/TipDialog" />
		
		<!-- 推送消息跳转处理 -->
        <activity
            android:name="com.nd.hilauncherdev.push.PushMsgRedirectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 桌面设置入口 -->
        <activity
            android:name="com.nd.hilauncherdev.settings.HomeSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.nd.hilauncherdev.settings.GestureSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingCustomStyle" />
         <activity
            android:name="com.nd.hilauncherdev.settings.CardScreenSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingCustomStyle" />
         <activity
            android:name="com.nd.hilauncherdev.settings.DynamicSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingCustomStyle" />
		<activity
            android:name="com.nd.hilauncherdev.settings.MoreSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingCustomStyle" />
		<activity
            android:name="com.nd.hilauncherdev.settings.ShareLauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingCustomStyle" />
		<activity
            android:name="com.nd.hilauncherdev.settings.AboutLauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingCustomStyle" />
		<activity
            android:name="com.nd.hilauncherdev.settings.SettingsItemSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingCustomStyle" />	
    </application>
</manifest>